staticSites:
  - name: school-crm-admin
    buildCommand: npm run build
    publishPath: dist
    rootDir: .
    envVars:
      - key: REACT_APP_HASH_ROUTER
        value: "false"
      - key: REACT_APP_API_URL
        value: https://school-crschool-crm-backendm.onrender.com/api

services:
  - type: web
    name: school-crm-backend
    rootDir: backend
    env: node
    buildCommand: npm install
    startCommand: npm start
    autoDeploy: true
    envVars:
      - key: NODE_VERSION
        value: 20
